@model HospitalScheduling.Models.RuleModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RuleModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.begin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.begin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.end)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.end)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ValidationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
