@model HospitalScheduling.Models.Speciality

@{
    ViewData["Title"] = "Delete";
    ViewData["Active"] = "Specialities";
}

<
<div class="hero-wrap" style="background-image: url('images/bg_6.jpg'); background-attachment:fixed;height:200px">
    <div class="overlay"></div>
    <div class="container" style="height:200px">
        <div class="row no-gutters slider-text align-items-center justify-content-center" style="height:200px" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Home">Home</a></span> <span>Specialities - @ViewData["Title"]</span></p>
                <h1 class="mb-3 bread">Specialities - @ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>
<br />
<center>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <table>
            <tr>
                <td style="min-width:8em;text-align:justify">
                    <b>@Html.DisplayNameFor(model => model.Name): </b>
                </td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
        </table>
    </div>
    <br />

    <form asp-action="Delete">
        <input type="hidden" asp-for="SpecialityID" />
        <a asp-action="DeleteConfirmation" asp-route-id="@Model.SpecialityID" class="btn btn-danger">Delete</a>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </form>
    <br />
</center>
