@model IEnumerable<HospitalScheduling.Models.DoctorShifts>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DoctorShiftID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DoctorShiftID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DoctorShiftID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
