@model HospitalScheduling.Models.Shift

@{
    ViewData["Title"] = "Details";
    ViewData["Active"] = "Shifts";
}

<div class="hero-wrap" style="background-image: url('images/bg_6.jpg'); background-attachment:fixed;height:200px">
    <div class="overlay"></div>
    <div class="container" style="height:200px">
        <div class="row no-gutters slider-text align-items-center justify-content-center" style="height:200px" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center fadeInUp ftco-animated">
                <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Home">Home</a></span> <span>Shifts - @ViewData["Title"]</span></p>
                <h1 class="mb-3 bread">Shifts - @ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>
<br />
<center>
    <div>
        <table>
            <tr>
                <td style="min-width:8em;text-align:justify">
                    <b>@Html.DisplayNameFor(model => model.Name): </b>
                </td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td style="min-width:8em;text-align:justify">
                    <b>@Html.DisplayNameFor(model => model.StartDate): </b>
                </td>
                <td>@Html.DisplayFor(model => model.StartDate)</td>
            </tr>
            <tr>
                <td style="min-width:8em;text-align:justify">
                    <b>Turn ends in: </b>
                </td>
                <td>@Model.ShiftStartHour.AddDays(DateTime.Now.DayOfYear - 1).AddYears(DateTime.Now.Year- 1).AddHours(Model.DurationHours).AddMinutes(Model.DurationMinutes).Subtract(DateTime.Now).ToString() </td>
            </tr>
            <tr>
                <td style="min-width:8em;text-align:justify">
                    <b>EndDate: </b>
                </td>
                <td>@Model.EndDate.ToString()</td>
            </tr>
        </table>
    </div>
    <br />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ShiftID" class="btn btn-success">Edit</a>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
    <br />
</center>
